@model GWAppDev1.ViewModels.RegisterViewModels
@{
    ViewBag.Title = "ChangePasswordTrainer";
}

<h2>ChangePasswordTrainer</h2>
@Html.ActionLink("Back to Home", "ShowTrainerInfo", "Admin",
    null,
    new { @class = "btn btn-primary" })

@using (Html.BeginForm("CreateStaff", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Change</button>
    </div>
}

